.header {
  background-color: #333 !important;
  padding: 20px 0 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.navbar {
  max-width: 1200px !important;
  margin: 0 auto !important;
  display: flex !important;
  justify-content: center !important;
}

.nav-list {
  list-style: none !important;
  display: flex !important;
  gap: 30px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.nav-link {
  color: #fff !important; 
  font-size: 1.5em !important; 
  text-decoration: none !important;
  padding: 10px 20px !important; 
  display: flex !important;
  align-items: center !important; 
  justify-content: center !important;
}

.nav-link:hover {
  background-color: #555 !important;
  color: #f4f4f4 !important;
  border-radius: 5px !important;
}